.example {
	border-left-color: #ADA6FF;
	display: inline-block;
	margin: 20px 0px;

	.example__title {
		font-weight: 600;
		margin-top: 0px;


		i {
			color: #ADA6FF;
			margin-right: 5px;
		}
	}
}
