.homepage-sidebar ul {
	list-style:none;
}


/* Main */
.homepage-section {
	display:block;
	text-align:center;
	margin-bottom:15px;
}

.homepage-section:hover {
	text-decoration:none;
}

.homepage-section__title {
	font-size:20px;
	color: #444444;
	font-weight:bold;
}

.homepage-section:hover .homepage-section__title {
	color: #2AADCC;
}

.homepage-section__content {
	color: #444444;
	font-size:14px;
}

@media (min-width: $screen-sm-min) {
	.homepage-section {
		padding:15px;
	}

	.homepage-section:hover {
		-webkit-box-shadow: 0px 1px 3px 1px rgba(119,119,119,1);
		-moz-box-shadow: 0px 1px 3px 1px rgba(119,119,119,1);
		box-shadow: 0px 1px 3px 1px rgba(119,119,119,1);
	}

	.homepage-section__title {
		font-size:24px;
	}

	.homepage-section__content {
		color: #444444;
		font-size:14px;
		line-height: 1.6
	}
}



/* Sidebar */
.homepage-sidebar__link, .homepage-sidebar__link:hover {
	display: block;
	color: #444444;
	font-size: 22px;
	font-weight: bold;
	padding: 20px 0;
}

.homepage-sidebar__link:hover {
	color: #2AADCC;
	text-decoration: none;
}

.homepage-sidebar__link i {
	position: relative;
	top: 2px;
	width: 22px;
	height: 22px;
	font-size: 30px;
	color: #2AADCC;
	margin-right: 15px;
}


.homepage.inner__content {
	padding: 0;
	padding-bottom: 50px;
	margin-left: 0;
	a {
		font-weight: normal;
	}
	.homepage-header {
    background-color: #1D2A38;
    padding:30px;
  }
	.inner__searchbar {
	  position: static;
	  margin: auto;
	  width: 100%;
	  max-width: 500px;
	  h2 {
	  	margin-bottom: 0;
	  }
	  .search-results {
	    position: absolute;
	    width: 100%
	  }
	  input {
	  	font-size: 16px;
	  	padding: 10px 15px;
	  }
	}

  .inner__blurb {
    font-size: 16px;
    line-height: 1.6;
    padding: 15px 30px 15px 30px;
    font-weight: lighter;
    text-align: left;
    color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
  }
	a.new-button, button.new-button {
	  background-color: #1cadce;
	  white-space: nowrap;
	  font-weight: bold;
	  font-size: 16px;
	  display: inline-block;
	  text-transform: uppercase;
	  padding: 15px 30px;
	  border-radius: 2px;
	  -moz-border-radius: 2px;
	  -webkit-border-radius: 2px;
	  color: #ffffff;
	  transition: background 250ms;
	  -webkit-transition: background 250ms;
	  cursor: pointer;
	  &:hover {
	    background-color: #38c5e5;
	    text-decoration: none;
	    color: #ffffff;
	  }
	}
}