/* line 1, /Users/aeromusek/Branch/documentation/css/inner.scss */
.container-height {
  overflow: hidden; }

/* line 5, /Users/aeromusek/Branch/documentation/css/inner.scss */
.container-height > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px; }

/* line 10, /Users/aeromusek/Branch/documentation/css/inner.scss */
.container {
  width: 100%;
  padding: 0; }

/* line 15, /Users/aeromusek/Branch/documentation/css/inner.scss */
.inner__sidebar {
  background-color: #364351;
  width: 300px;
  position: fixed;
  top: 50px;
  bottom: 0;
  overflow-y: scroll; }
  /* line 22, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__sidebar::-webkit-scrollbar {
    width: 10px; }
  /* line 25, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__sidebar::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3); }
  /* line 28, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__sidebar::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(54, 67, 81, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1); }

/* line 35, /Users/aeromusek/Branch/documentation/css/inner.scss */
.inner__sidebar:before {
  content: "\00a0"; }

/* line 39, /Users/aeromusek/Branch/documentation/css/inner.scss */
.inner__sidebar__fixed {
  padding: 0 10px 30px 15px;
  /*@media (min-width: 768px) {
		padding-left: calc((100% - 750px) / 2 - 15px);
	}
	@media (min-width: 992px) {
	    padding-left: calc((100% - 970px) / 2 - 15px);
	}
	@media (min-width: 1200px){
	  padding-left: calc((100% - 1170px) / 2 - 15px);
	}*/ }

/* line 53, /Users/aeromusek/Branch/documentation/css/inner.scss */
.inner__content {
  margin-left: 300px;
  padding: 45px;
  padding-top: 95px;
  font-size: 14px;
  line-height: 28px;
  color: #444444;
  /*@media (min-width: $screen-sm-min) {
		padding-left: 44px;
	}
	@media (min-width: 768px) {
		padding-right: calc((100% - 750px) / 2);
	}
	@media (min-width: 992px) {
	    padding-right: calc((100% - 970px) / 2);
	}
	@media (min-width: 1200px){
	  padding-right: calc((100% - 1170px) / 2);
	}*/ }
  /* line 60, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content h1 {
    padding-bottom: 10px;
    margin: 45px 0 5px 0;
    font-size: 48px;
    font-weight: lighter; }
  /* line 66, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content a {
    color: #1cadce;
    text-decoration: none;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in; }
    /* line 71, /Users/aeromusek/Branch/documentation/css/inner.scss */
    .inner__content a:hover {
      text-decoration: none;
      color: #076074; }
      /* line 74, /Users/aeromusek/Branch/documentation/css/inner.scss */
      .inner__content a:hover .material-icons {
        opacity: 1; }
    /* line 79, /Users/aeromusek/Branch/documentation/css/inner.scss */
    .inner__content a .material-icons {
      color: #1cadce;
      opacity: 0;
      width: 16px;
      display: inline-block;
      position: relative;
      left: -20px;
      margin-right: -16px;
      font-size: 16px;
      line-height: 16px;
      transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in; }
      /* line 91, /Users/aeromusek/Branch/documentation/css/inner.scss */
      .inner__content a .material-icons:hover {
        color: #076074;
        cursor: pointer; }
  /* line 98, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content h2, .inner__content h3, .inner__content h4 {
    font-weight: lighter;
    margin: 45px 0 30px 0; }
    /* line 101, /Users/aeromusek/Branch/documentation/css/inner.scss */
    .inner__content h2 a, .inner__content h3 a, .inner__content h4 a {
      color: #444444;
      cursor: default;
      display: flex;
      align-items: center; }
      /* line 106, /Users/aeromusek/Branch/documentation/css/inner.scss */
      .inner__content h2 a:hover, .inner__content h3 a:hover, .inner__content h4 a:hover {
        color: #444444; }
  /* line 111, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content h2 {
    font-size: 40px; }
  /* line 116, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content h3 {
    font-size: 32px; }
  /* line 119, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 124, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content hr {
    margin-top: 55px; }
  /* line 127, /Users/aeromusek/Branch/documentation/css/inner.scss */
  .inner__content ol li::before {
    font-weight: bold;
    font-size: 18px;
    background-color: #fafafa;
    padding: 2px; }

/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../font/MaterialIcons-Regular.woff2') format('woff2'), url('../font/MaterialIcons-Regular.woff') format('woff'), url('../font/MaterialIcons-Regular.ttf') format('truetype'); }

/* line 159, /Users/aeromusek/Branch/documentation/css/inner.scss */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/*# sourceMappingURL=inner.css.map */