.platform-selector {
  .btn-group {
    display: inline-flex;
    padding: 0;
    border-left: 1px solid #fafafa;
    border-top: 1px solid #fafafa;

    .col-xs-1point5 {
      @extend .col-xs-1;
      width: 12.5%;
      &:nth-child(3) {
        @extend .col-xs-3
      }
    }
    .btn-default {
      margin: 0;
      color: #1cadce;
      border: none;
      border-right: 1px solid #fafafa;
      border-bottom: 1px solid #fafafa;
      border-radius: 0;
      padding: 5px 15px;
      font-weight: bold;
      font-size: 12px;
      background-color: #eeeeee;
    }
    .btn-inactive {
      font-weight: normal;
      background-color: #fafafa;
    }
  }
}
