.platform-selector {
  line-height: 1;
  .btn-group {
    z-index: 1;
    width: auto;
    position: fixed;
    left: 275px;
    right: 0px;
    top: 0;
    padding: 0;
    background-color: #1D2A38;

    @media (max-width: $screen-xs-max) {
      position: static;
      width: 100%;
      margin-bottom: 30px;
      margin-top: -30px;
    }

    .btn-default {
      margin: 0;
      color: #ffffff;
      border: none;
      border-radius: 0;
      padding: 8px 15px;
      font-weight: 700;
      font-size: 12px;
      background-color: #1cadce;
      transition: all 0.2s ease-in;
    }
    .btn-inactive {
      color: #FFFFFF;
      background-color: #1D2A38;
      font-weight: 700;
      &:hover {
        background-color:#364351;
      }
    }
  }
}
