.inner__content blockquote.protip {
	border-left-color: #8b41af;
	/*display: inline-block;
	margin: 20px 0px;

	.protip__title {
		font-weight: 600;
		margin-top: 0px;


		i {
			color: #5691AD;
			margin-right: 5px;
		}
	}*/
}
