.sidebar-wrapper {
	.sidebar-group {
		display:block;
		list-style:none;
		padding-left: 10px;
		margin-left: 3px;
		border-left: 1px solid rgba(255, 255, 255, 0.1);
		li {
			margin-top: 5px;
			a {
				font-size:14px;
				font-weight:normal;
				text-decoration: none;
				line-height: 19px;
				margin: 10px 0 0 0;
				display: block
			}
			a:hover {
				color: #ffffff;
			}
			a.sidebar-link-selected {
				color:#ffffff;
				font-weight:bold;
			}
			.sidebar-group-title {
				font-size:14px;
				font-weight:normal;
				color: #ffffff;
				text-transform: none;
				line-height: 19px;
				margin: 10px 0 0 0;
				display: block
			}
		}
	}
	.sidebar-group-title {
		text-decoration: none;
		line-height: 19px;
		color:#ffffff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		display: flex;
		margin-top: 20px;
		.fa,
		.plus-minus {
			width:12px;
			margin-right: 8px;
			text-align: center;
		}
		.fa {
			font-size: 14px;
		  padding-top: 3px;
		}
	}
}

.inner__sidebar {
	background-color:#364351;
	width: 275px;
	position: fixed;
	top: 110px;
	bottom: 41px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
    width: 10px;
	}
	&::-webkit-scrollbar-track {
    background-color:rgba(255,255,255,0.3);
	}
	&::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:rgba(54,67,81,0.5);
    border: 1px solid rgba(255,255,255,0.1);
	}
}

.inner__sidebar__fixed {
	padding: 0 0 10px 15px;
}

@media (max-width: $screen-xs-max) {
  .inner__sidebar {
    width: 100%;
    position: relative;
    top: 0;
  }
}