
.sidebar {
	@media (max-width: $screen-sm-max) {
		display: none;
	}
}

.sidebar-container {
	@media (max-width: $screen-sm-max) {
		background-color: #1D2A38;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		#mobile-dropdown {
			position: fixed;
			left: 0;
			right: 0;
			top: 53px;
			bottom: 0;
			background-color: #1D2A38;
			display: none;
		}
		.dropdown-toggle {
			background-color: transparent;
			border: 1px solid transparent;
			background-image: none;
			border-radius: 4px;
			text-align: center;
			position: fixed;
			top: 0;
			right: 10px;
			line-height: 43px;
			font-size: 28px;
			padding: 4px;
			color: #fff;
			margin: 0;
			display: block !important;
		}
	}
	.dropdown-toggle {
		display: none;
		outline: none;
	}
	.logo {
		background-color: #1D2A38;
		@media (min-width: $screen-sm-max) {
			position: fixed;
			top: 0;
			width: 275px;
			padding: 15px 35px 0px 55px;
			height: 65px;
		}
		@media (max-width: $screen-sm-max) {
			width: 180px;
			padding: 5px 10px;
		}
	}
	.inner__searchbar {
		padding: 0 15px 15px 15px;
		@media (min-width: $screen-sm-max) {
			position: fixed;
		  top: 64px;
		  width: 275px;
		}
	  .search {
	    .search-icon {
				position: absolute;
	      right: 20px;
	      top: 16px;
				@media (max-width: $screen-sm-max) {
					top: 6px;
				}
	    }
	    .search-results {
				position: fixed;
	      top: 120px;
	      bottom: 0;
	      left: 0;
	      width: 275px;
				transition: all 0.2s ease-in;
		    -webkit-transition: all 0.2s ease-in;
				@media (max-width: $screen-sm-max) {
					width: 100%;
					top: 110px;
				}
	    }
	  }
	}
	.inner__sidebar {
		background-color:#364351;
		position: fixed;
		bottom: 41px;
		overflow-y: scroll;
		padding: 0 0 10px 15px;
		@media (min-width: $screen-sm-max) {
			width: 275px;
			top: 120px;
		}
		@media (max-width: $screen-sm-max) {
	    width: 100%;
	    top: 110px;
		}
		&::-webkit-scrollbar {
	    width: 10px;
		}
		&::-webkit-scrollbar-track {
	    background-color:rgba(255,255,255,0.3);
		}
		&::-webkit-scrollbar-thumb {
	    border-radius: 3px;
	    background-color:rgba(54,67,81,0.5);
	    border: 1px solid rgba(255,255,255,0.1);
		}
		.sidebar-wrapper {
			.sidebar-group {
				display:block;
				list-style:none;
				padding-left: 10px;
				margin-left: 3px;
				border-left: 1px solid rgba(255, 255, 255, 0.1);
				li {
					margin-top: 5px;
					a {
						font-size:14px;
						font-weight:normal;
						text-decoration: none;
						line-height: 19px;
						margin: 10px 0 0 0;
						display: block
					}
					a:hover {
						color: #ffffff;
					}
					a.sidebar-link-selected {
						color:#ffffff;
						font-weight:bold;
					}
					.sidebar-group-title {
						font-size:14px;
						font-weight:normal;
						color: #ffffff;
						text-transform: none;
						line-height: 19px;
						margin: 10px 0 0 0;
						display: block
					}
				}
			}
			.sidebar-group-title {
				text-decoration: none;
				line-height: 19px;
				color:#ffffff;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
				display: flex;
				margin-top: 20px;
				.fa,
				.plus-minus {
					width:12px;
					margin-right: 8px;
					text-align: center;
				}
				.fa {
					font-size: 14px;
				  padding-top: 3px;
				}
			}
		}
	}
	.inner__supportbar {
	  position: fixed;
	  bottom: 0;
	  background-color: #1D2A38;
		@media (max-width: $screen-sm-max) {
			right: 0;
			left: 0;
		}
	  a {
	    font-size: 14px;
	    padding: 10px 0px;
			width: 275px;
			text-align: center;
	    display: inline-block;
	    color: #cecece;
			@media (max-width: $screen-sm-max) {
				width: 100%;
			}
	    &:hover {
	      color: #ffffff;
	      background-color: #2A3745;
	    }
	  }
	}
}