
<head>
	<!-- If you want to test the webhook builder and have it fill in values automatically (to save you time) then turn on the JS below in debug mode-->
	<!-- <script src="{{base.url}}/js/webhook_builders/webhook_builder_tune_testing.js" type="text/javascript"></script> -->
	<script src="{{base.url}}/js/webhook_builders/webhook_builder_tune.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
	<table>
		<!-- START OF REQUIRED TUNE INFORMATION -->
			<thead>
			<tr>
				<th>Required Tune Information</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
	            <td><label>Advertiser ID</label></td>
	            <td><input class="form-control" style="width:300px" id="advertiser_id" type="text" maxlength="30" placeholder="advertiser_id" required/></td>
	        </tr>
	        <tr>
	            <td><label>Site ID</label></td>
	            <td><input class="form-control" style="width:300px" id="site_id" type="text" maxlength="30" placeholder="site_id" required/></td>
	        </tr>
	       </tbody>
	     </table>

	     <table>
		<!-- START OF CUSTOM QUERY PARAMETERS -->
			<thead>
			<tr>
				<th>Custom Query Parameters</th>
				<th></th>
			</tr>
			</thead>
				<tbody>
	       	<tr>
	       		<td><br><i>*Note* Format should be a string with <br>one item = another item. </i><br><b>Example:</b> user_id=JohnJoe</td>
	       		<td></td>
	        </tr>
	        <tr>
	        	<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams1" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
			<tr>
				<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams2" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
	        	<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams3" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
	        	<td><label>Custom Query Parameter</label></td>
	  	        <td><input class="form-control" style="width:300px" id="customQueryParams4" type="text" maxlength="200" placeholder="format: param=sometext"/></td>          	
	        </tr>
	       	<tr>
	        	<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams5" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	       	<tr>
				<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams6" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
			<tr>
	        	<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams7" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
				<td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams8" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
			 	<td><label>Custom Query Parameter</label></td>
	  	        <td><input class="form-control" style="width:300px" id="customQueryParams9" type="text" maxlength="200" placeholder="format: param=sometext"/></td>          	
	        </tr>
	       	<tr>
	 	        <td><label>Custom Query Parameter</label></td>
	            <td><input class="form-control" style="width:300px" id="customQueryParams10" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	      </tbody>
	</table>
			</br>
			</br>
	
	<div class="text-center"><button class="form-control get-started" style="float:none" onclick="createTuneWebhook()">Create Webhook</button></div>
			
			</br>
			</br>

	<h3>Generated Tune Webhook</h3>
		<textarea class="form-control" style="height:300px; margin-bottom:15%;" id="generatedTuneWebhook" type="text"></textarea>
			</br>
			</br>
</body>
