
<head>
	<!-- If you want to test the webhook builder and have it fill in values automatically (to save you time) then turn on the JS below in debug mode-->
	 <script src="{{base.url}}/js/webhook_builders/webhook_builder_tune_testing.js" type="text/javascript"></script>
	<script src="{{base.url}}/js/webhook_builders/webhook_builder_tune.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
	<table>
		<!-- START OF REQUIRED TUNE INFORMATION -->
		<tr><td><h3><b>Required Tune Information </b></h3></td></tr>
			<tr>
	            <td><label>Advertiser ID</label></td>
	            <td><input style="width:300px" id="advertiser_id" type="text" maxlength="30" placeholder="advertiser_id" required/></td>
	        </tr>
	        <tr>
	            <td><label>Site ID</label></td>
	            <td><input style="width:300px" id="site_id" type="text" maxlength="30" placeholder="site_id" required/></td>
	        </tr>
	</table>
			</br>
			</br>

	<table>
		<!-- START OF CUSTOM QUERY PARAMETERS -->
		<tr><td><h3><b>Custom Query Parameters </b></h3></td></tr>
	       	<tr>
	            <td><label>Custom Query Parameters<br><i>*Note* Format should be a string with <br>one item = another item. </i><br><b>Example:</b> user_id=JohnJoe</label></td>
	        </tr>
	        <tr>
	            <td><input style="width:300px" id="customQueryParams1" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
			<tr>
	            <td><input style="width:300px" id="customQueryParams2" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
	            <td><input style="width:300px" id="customQueryParams3" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
	  	        <td><input style="width:300px" id="customQueryParams4" type="text" maxlength="200" placeholder="format: param=sometext"/></td>          	
	        </tr>
	       	<tr>
	            <td><input style="width:300px" id="customQueryParams5" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        	        <tr>
	            <td><input style="width:300px" id="customQueryParams6" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
			<tr>
	            <td><input style="width:300px" id="customQueryParams7" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
	            <td><input style="width:300px" id="customQueryParams8" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	        <tr>
	  	        <td><input style="width:300px" id="customQueryParams9" type="text" maxlength="200" placeholder="format: param=sometext"/></td>          	
	        </tr>
	       	<tr>
	            <td><input style="width:300px" id="customQueryParams10" type="text" maxlength="200" placeholder="format: param=sometext"/></td>
	        </tr>
	</table>
			</br>
			</br>
	
	<button onclick="createTuneDynamicDeepLink()">Create Webhook</button>
			
			</br>
			</br>

	<h3>Generated Dynamic Branch Link</h3>
		<textarea style="height:100px; width:400px" id="generatedTuneDyanmicDeepLink" type="text"></textarea>
			</br>
			</br>
</body>
